body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
.App-header {
  box-sizing: border-box;
  width: 100%;
  background-color: #c0a686;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url('paper-background.jpg'); /* Add the background image */
  background-size: cover; /* Adjust image size to cover the container */
  background-repeat: no-repeat; 

}

.tile {
  width: 80px;
  height: 80px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin: 5px;
  font-weight: bold;
  color: #5d3b14;
  font-family: cursive;
  transition: width 2s ease, height 2s ease;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  transform: translate3d(0px, 0px, 0px);
  background-image: url('tile-background.jpg'); /* Add the background image */
  background-size: cover; /* Adjust image size to cover the container */
  background-repeat: no-repeat; /* Prevent the background from repeating */
}

.shrink {
  width: 70px;
  height: 70px;
}

.tile.empty {
  background-color: transparent;
  background-image: none;
  border: none;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 5px;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.8);
  background-image: url('paper-background.jpg'); /* Add the background image */
  background-size: cover; /* Adjust image size to cover the container */
  background-repeat: no-repeat; /* Prevent the background from repeating */
}

button {
  padding: 10px 20px;
  background-color: transparent; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

button:hover {
  background-color: transparent;
}

button .icon {
  margin-bottom: 5px;
  color: #693434;
}

.title {
  color: #604600;
  background: black;
  width: 100vw;
  margin: 0; 
  display: flex; 
  align-items: center;
  justify-content: center;
}

.timerContainer {
  padding: 20px 15px 0px;
}

.timer{
  color: #1c1515;
  font-weight: bold;
  font-family: cursive;
}

.gameBoardContainer{
  grid-template-columns: auto auto auto auto;
  display: grid;
  position: relative;
  padding: 10px;
  border-radius: 12px;
}

.bottomContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* full width of the parent */
}

.text{
  color: #693434;
  font-weight: bolder;
}

.gameOverText{
  margin: 0;
  font-size: 40px;
  color: #715801;
  font-weight: bold;
  font-family: cursive;
}

@media screen and (max-width: 520px){
  .timer{
    padding-left: 10px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
  } 

  .tile {
    min-width: 70px;
    min-height: 70px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .gameOverText{
    font-family: 'Times New Roman', Times, serif;
  }
}